<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top Car</title>
</head>
<body>
   <div th:if="${budget >= 5000}">
       <div th:switch="${make}">
           <p th:case="'Toyota'">Toyota Corolla: $5,000</p>
           <p th:case="'Volkswagen'">Volkswagen Jetta: $6,000</p>
           <p th:case="'Ford'">Ford Escape: $7,000</p>
           <p th:case="'Honda'">Honda Civic: $8,000</p>
           <p th:case="*">No cars match your query.</p>
       </div>
   </div>
    <div th:unless="${budget >= 5000}">
        <p>Sorry, we don't have any cars below $5,000</p>
    </div>
</body>
</html>