<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red-row{
           background-color: #ffdddd; /* Light red color */
        }
        .green-row {
            background-color: #ddffdd; /* Light green color */
        }
    </style>
</head>
<body>
    <h2>Selling List</h2>
    <table border="solid" width="100%">
        <tr>
            <th>Name</th>
            <th>Revenue</th>
            <th>Cost</th>
            <th>Profit</th>
        </tr>
        <tr th:each="record: ${records}"
            th:class="${record.profit > 0} ? 'green-row' : 'red-row' ">
            <td th:text="${record.item}"></td>
            <td th:text="${T(com.prameswaradev.demo.Utils).format(record.revenue)}"></td>
            <td th:text="${T(com.prameswaradev.demo.Utils).format(record.cost)}"></td>
            <td th:text="${T(com.prameswaradev.demo.Utils).format(record.profit)}"></td>
        </tr>

    </table>
</body>
</html>